# Ignore virtual env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesiss

# Ignore sensitive info
*.db
!youtube_rss.db
youtube_rss_config.json
www.youtube.com_cookies.txt
